<button class="close-button" mat-icon-button [mat-dialog-close]="modalResult">
  <mat-icon class="close-icon">cancel</mat-icon>
</button>

<ng-container *ngIf="hasTitle != null">
  <h2 mat-dialog-title>{{ modalTitle }}</h2>
</ng-container>

<mat-dialog-content>
  <ng-template #content></ng-template>
</mat-dialog-content>

<ng-container *ngIf="modalShowSubmitButton">
  <button
    [attr.form]="modalFormId"
    class="submit-button"
    mat-icon-button
    type="submit"
  >
    <mat-icon class="submit-icon">check_circle</mat-icon>
  </button>
</ng-container>
