:root {
  --close-icon-color: #796363;
}

html, body { height: 100%; }

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.app-modal {
  position: absolute !important;

  width: 80vw;
}
