<div class="header-container">
  <div class="logo">
    <img src="assets/img/logo.svg" alt="logo">
  </div>
  <div class="header-container-right">
    <button mat-button (click)="openModal(SiteSectionTypes.about)">
      <mat-icon>info</mat-icon>
      <span>{{ SiteSectionTypeNames.about }}</span>
    </button>
    <button mat-button>
      <mat-icon>add_location_alt</mat-icon>
      <span>Добавить место</span>
    </button>
    <div class="login-search">
      <mat-form-field class="search-panel">
        <input
          type="text"
          placeholder="Введите адрес"
          matInput>
        <button mat-button matSuffix mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
      <button mat-button>
          <img src="assets/img/User_avatar.svg" alt="user">
      </button>
    </div>
  </div>
</div>
